# Environment variables
.env

# Data files
data/
media/
index/
*.session
*.session-journal

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db